:host {
  display: flex;
  height: 100vh; 
}

.main-content {
  margin-left: 200px; 
  padding: 20px;
  flex-grow: 1; 
  overflow-y: auto; 
  transition: margin-left 0.3s ease;
}

.main-content.no-sidebar {
  margin-left: 0;
}

@media (max-width: 980px) {
  .main-content {
    margin-left: 60px; 
  }
}

@media (max-width: 768px) {
  :host {
    height: calc(100vh - 80px); 
  }

  .main-content {
    margin-left: 0;
    padding: 20px 20px 100px 20px; 
  }
}

@media (max-width: 480px) {
  .main-content {
    padding: 15px 15px 90px 15px;
  }
}
